<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "Bubble Tea Today - Featured Shop" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= partial "partials/breadcrumbs" %>
    <%= yield %>
  </body>
</html>
