<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= "Bubble Tea Today" + (current_page.data.title ? " - #{current_page.data.title}" : "") %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "site" %>
    <%#= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="page-wrapper">

      <%= partial "partials/breadcrumbs" %>

      <div class="page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
