<% url_array = current_page.url.split('/') %>
<% url_array.shift %>
<div class="bread-crumbs">
  <div class="bread-crumbs__item bread-crumbs__item--first">
    <a href="/" class="bread-crumbs__link bread-crumbs__link--first">
      <%= partial "partials/home_svg" %>
    </a>
  </div>
  <% url_array.each_with_index do |url, i| %>
    <% if i == url_array.length - 1 %>
      <div class="bread-crumbs__item bread-crumbs__item--last"> 
        <h1 class="bread-crumbs__page-title"><%= url_array[i].titleize %></h1>
      </div>
    <% elsif i == 1 %>
      <div class=<%="bread-crumbs__item bread-crumbs__item--#{i + 1}"%>> 
        <a href=<%="/#{url_array[i - 1]}/#{url_array[i]}"%> class="bread-crumbs__link"><%="#{url_array[i].titleize}"%></a>
      </div>
    <% else %>
      <div class=<%="bread-crumbs__item bread-crumbs__item--#{i + 1}"%>> 
        <a href=<%="/#{url_array[i]}"%> class="bread-crumbs__link"><%="#{url_array[i].titleize}"%></a>
      </div>
    <% end %>
  <% end %>
</div>
