<% url_array = current_page.url.split('/') %>
<div class="bread-crumbs">
  <div class="bread-crumbs__primary">
    <a href="/" class="">Home</a>
    <div class="arrow-right"></div>
  </div>
  <% if url_array[1] %>
    <div class="bread-crumbs__secondary"> 
      <a href=<%="/#{url_array[1]}"%> class=""><%="#{url_array[1].humanize}"%></a>
      <div class="arrow-right"></div>
    </div>
  <% end %>
  <% if url_array[2] %>
    <div class="bread-crumbs__tertiary"> 
      <a href=<%="/#{url_array[1]}/#{url_array[2]}"%> class=""><%="#{url_array[2].humanize}"%></a>
    </div>
  <% end %>
  <% if url_array[3] %>
    <div class="bread-crumbs__quaternary"> 
      <a href=<%="/#{url_array[1]}/#{url_array[2]}/#{url_array[3]}"%> class=""><%="#{url_array[3].humanize}"%></a>
    </div>
  <% end %>
</div>


